.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

img{
    width: 1228px;
}
body{
    background-color: #fff;
    cursor: url(../pic/cursora.ico),auto;
}
.index{
    width: 1228px;
    margin: 2px auto;
}
.index .header{
    margin: 0 auto;
}
.index .header img{
    width: 1228px;
}
.index .select{
    background-color: #2864af;
}
.index .select li{
    float: left;
    width: 120px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-right: 2px solid #fff;
}
.index .select li a{
    color: #fff;
}
.index .select li:last-child{
    border-right: none;
}
.index .select li a:hover{
    color: #000;
}
/* .index .schoolimg img{
    width: 1228px;
    margin: 5px 0;
    cursor: pointer;
} */

.index .schoolimg .img{
    background: url(../pic/schoolimg.jpg) no-repeat;
    background-size: 100%;
    width: 1228px;
    margin: 5px 0;
    height: 360px;
    position: relative;
}
.index .schoolimg .img .left-1{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 50px;
    height: 75px;
    background-color:rgba(0, 0, 0, 0.5) ;
    color: #fff;
    font-size: 2.5em;
    line-height: 70px;
    text-align: center;
    font-weight: bold;
}
.index .schoolimg .img .right-1{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 0;
    width: 50px;
    height: 75px;
    background-color:rgba(0, 0, 0, 0.5) ;
    color: #fff;
    font-size: 2.5em;
    line-height: 70px;
    text-align: center;
    font-weight: bold;
}
.index .schoolimg .img .left-1:hover{
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
    cursor: pointer;
}
.index .schoolimg .img .right-1:hover{
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
    cursor: pointer;
}

.index .schoolimg .img .bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1228px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
}
.index .schoolimg .img .bottom .left{
    line-height: 50px;
    text-align: center;
    color: #fff;
    display: inline-block;
    margin-left: 50px;

}
.index .schoolimg .img .bottom .right{
    float: right;
    width: 218px;
    height: 50px;
    line-height: 63px;
    text-align: center;
}
.index .schoolimg .img .bottom .right a{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: gray;
    margin: 0 5px;
    border-radius: 50%;
}
.index .schoolimg .img .bottom .right a:hover{
    background-color: #fff;
}






.index .main img{
    width: 450px;
    height: 300px;
}

.index .main .main-1 {
    float: right;
    width: 700px;
    line-height: 2.3;
    padding-top: 26px; 
    font-size: 1em;
    
}
.index .main .main-1 li{
    list-style: disc;
}
.index .main .main-1 li a{
    color: #000;
}
.index .main .main-1 li .li-1{
    color: #2864af;
    font-weight:800;
}
.index .main .main-1 li a:hover{
    color: #10c632;
}

.index .neirong img{
    float: right;
    width: 359px;
    height: 275px;
}
.index .neirong .neirong-1{
    display: inline-block;
    width: 784px;
    margin: 45px 26px;
    line-height: 2.3;
}
.index .neirong .neirong-1 li{
    list-style: disc;
}
.index .neirong .neirong-1 li a{
    color: #000;
}
.index .neirong .neirong-1 li .l-1{
    color: #2864af;
    font-weight:800;
}
.index .neirong .neirong-1 li a:hover{
    color: #10c632;
}

.index .column{
    width: 1228px;
    text-align: center;
}
.index .column img{
    width: 118px;
    height: 118px;
    float: left;
    margin: 0 2px;
}
.index .Main_39{
    height: 55px;
    background: url(../pic/Main_39.jpg) no-repeat;
    background-position: left;
    background-size: 100%;
    
}
.index .Main_39 .content-1{
    margin-left: 213px;
    height: 22px;
}
.index .Main_39 .content-1 a{
    display: inline-block;
    height: 46px;
    line-height: 51px;
    margin: 0 9px;
    font-weight: bold;
    color: #000;
}



.advertisement{
    width: 300px;
    height: 400px;
    background-color: #417b989e;
    position: fixed;
    right: 0;
    bottom: 0;
    border: 2px solid #000;
}
.advertisement span{
    display: inline-block;
    width: 300px;
    height: 400px;
    line-height: 400px;
    text-align: center;
    font-weight: bold;
}
.advertisement .q{
    position: absolute;
    top: -96px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100px;
    height: 40px;
    border: none;
    line-height: 40px;
    color: gray;
}
.advertisement .q:hover{
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
}
.advertisement a{
    width: 34px;
    position: absolute;
    right: 0;
    top: 0;
    border: 2px solid #000;
    text-align: center;
    border-right: none;
    border-top: none;
}
.advertisement a:hover{
    background-color: red;
    color: #000;
}